{{ if and (not (eq .Params.showSocial false)) .Site.Params.gitment.enable }}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/gitment.css">
<script src="{{ .Site.BaseURL }}js/gitment.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{ .Params.title }}',
        owner: '{{ .Site.Params.gitment.githubID }}',
        repo: '{{ .Site.Params.gitment.repo }}',
        oauth: {
            client_id: '{{ .Site.Params.gitment.ClientID }}',
            client_secret: '{{ .Site.Params.gitment.ClientSecret }}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{{ end }}