{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      <time itemprop="publishDate" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ partial "internal/date.html" . }}
      </time>
    {{ end }}
    {{ partial "post/category.html" . }}
    {{ if not (eq .Lastmod .Date) }}
      <span>&emsp;{{ i18n "post.lastmod_in" }}</span>
      <time itemprop="lastmod" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Lastmod.Format $.Site.Params.dateFormat }}
      </time>
    {{ end }}
  </div>
{{ end }}