{{ if not (or (eq .Params.showActions false)  (eq .Params.showSocial false)) }}

  <style>
    #show-url-background {
      margin:0px;
      padding:0px;
      width:100%;
      height:100%;
      background-color:rgba(136,135,134,0.5);
      position:fixed;
      display:none;
      z-index:1000;
    }
    
    #show-url-card{
      text-align: center;
      position: relative; 
      top:50%; 
      left:50%;
      transform: translate(-50%, -50%);
      max-width:400px;
      max-height:400px;
      padding:5rem 0 3rem 0;
      background-color:#888786;
      display:none;
    }
    
    #show-url-describe{
      margin:2rem 0 0 0;
      color:white;
    }
  
    #show-url-btn-close {
      position: absolute; 
      top: 5px;
      right: 15px;
      color:white;
    }
  </style>

  <div id="show-url-background">
    <div id="show-url-card">
      <div id="show-url-btn-close">
        <i class="fa fa-remove"></i>
      </div>
      <div id="show-url-qrcode"></div> 
      <p id="show-url-describe">扫描上方二维码分享到微信</p>
    </div>
  </div>
  
  <script src="{{ .Site.BaseURL }}js/qrcode.min.js"></script>

  <script type="text/javascript">
    new QRCode(document.getElementById("show-url-qrcode"), window.location.href);
    
    var show_url_background=document.getElementById("show-url-background");
    var show_url_card=document.getElementById("show-url-card");
    var btn_close=document.getElementById("show-url-btn-close");
    btn_close.onclick=function() {
      show_url_background.style.display="none";
      show_url_card.style.display="none"; 
    }
  </script>
  
{{ end }}