<!-- page or post -->
{{- $.Scratch.Set "isPost" false -}}
{{- if .IsPage -}}
  {{- if eq .Type "post" -}}
    {{- $.Scratch.Set "isPost" true -}}
  {{- end -}}
{{- end -}}
<!-- sidebarBehavior -->
{{- if and (and ($.Scratch.Get "isPost") (lt .Site.Params.sidebarBehavior 3)) (or (and .Site.Params.clearReading (not .Params.clearReading)) .Params.clearReading) -}}
  {{- .Scratch.Set "sidebarBehavior" (add .Site.Params.sidebarBehavior 3) -}}
{{- else -}}
  {{- .Scratch.Set "sidebarBehavior" .Site.Params.sidebarBehavior -}}
{{- end -}}
<!-- authorPicture -->
{{- if .Site.Author.picture -}}
  {{- .Scratch.Set "authorPicture" (absURL .Site.Author.picture) -}}
{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head_start.html" . }}
    {{ partial "meta.html" . }}
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

    <link rel="icon" href="{{ with .Site.Params.favicon }}{{ . }}{{ else }}/favicon.png{{ end }}">
    {{ with .RSSLink }}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ . }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <!--EXTERNAL STYLES-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/jquery.fancybox-thumbs.min.css" />
    <!--MAIN STYLES-->
    <link rel="stylesheet" href="/css/style-nnm2spxvve8onlujjlegkkytaehyadd4ksxc1hyzzq9a2wvtrgbljqyulomn.min.css" />
    <!--STYLES END-->
    {{ range .Site.Params.customCSS }}
      {{ if isset . "href" }}
        <link {{ if not (isset . "rel") }}rel="stylesheet" {{ end }}{{ range $key, $value := . }} {{ if eq $key "href" }}{{ (printf "%s=\"%s\"" $key ($value | absURL)) | safeHTMLAttr }}{{ else }}{{ (printf "%s=\"%s\"" $key (string $value)) | safeHTMLAttr }}{{ end }}{{ end }}>
      {{ else }}
        <link rel="stylesheet" href="{{ . | absURL }}">
      {{ end }}
    {{ end }}

    {{ partial "head_end.html" . }}
  </head>
