<!--external scripts-->
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.fancybox.min.js"></script>
<script src="{{ .Site.BaseURL }}highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!--main scripts-->
<script src="{{ .Site.BaseURL }}js/script-qi9wbxp2ya2j6p7wx1i6tgavftewndznf4v0hy2gvivk1rxgc3lm7njqb6bz.min.js"></script>

<!--math scripts-->
{{ if or .Params.math .Site.Params.math }}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      CommonHTML: { linebreaks: { automatic: true } },
      tex2jax: { inlineMath: [ ['$', '$'], ['\\(','\\)'] ], displayMath: [ ['$$','$$'], ['\\[', '\\]'] ], processEscapes: false },
      messageStyle: 'none'
    });
  </script>
{{ end }}

<!--algolia scripts-->
{{ with .Site.Params.algolia }}
  {{ if .enable }}
    <script src="{{ .Site.BaseURL }}js/moment-with-locales.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/algoliasearch.min.js"></script>
    <script>
      var algoliaClient = algoliasearch('{{ .appId }}', '{{ .apiKey }}');
      var algoliaIndex = algoliaClient.initIndex('{{ .indexName }}');
    </script>
  {{ end }}
{{ end }}

<!--custom scripts-->
{{ range .Site.Params.customJS }}
  {{ if isset . "src" }}
    <script{{ range $key, $value := . }} {{ if eq $key "src" }}{{ (printf "%s=\"%s\"" $key ($value | absURL)) | safeHTMLAttr }}{{ else if and (in "async defer" $key) }}{{ if $value }}{{ (printf "%s" $key) | safeHTMLAttr }}{{ end }}{{ else }}{{ (printf "%s=\"%s\"" $key (string $value)) | safeHTMLAttr }}{{ end }}{{ end }}></script>
  {{ else }}
    <script src="{{ . | absURL }}"></script>
  {{ end }}
{{ end }}

<!--scripts init-->
<script lang="javascript">
window.onload = updateMinWidth;
window.onresize = updateMinWidth;
document.getElementById("sidebar").addEventListener("transitionend", updateMinWidth);
function updateMinWidth() {
  var sidebar = document.getElementById("sidebar");
  var main = document.getElementById("main");
  main.style.minWidth = "";
  var w1 = getComputedStyle(main).getPropertyValue("min-width");
  var w2 = getComputedStyle(sidebar).getPropertyValue("width");
  var w3 = getComputedStyle(sidebar).getPropertyValue("left");
  main.style.minWidth = `calc(${w1} - ${w2} - ${w3})`;
}
</script>
